<div id="<%= dom_id tweet %>" class="border">
  <p>
    <strong>Usuario:</strong>
    <%= tweet.username %>
  </p>

  <p class= "mb-0">
    <strong>Texto del Post:</strong>
    <%= tweet.description %>
  </p>
</div>

